html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="main.css")
    body
        .wrapper
            h1
                | Contact Master
            h2
                | Udalo ci sie zalogowac, oto twoje kontakty:

        .contacts-list
                each contact in data
                    .contact
                        .name
                            p #{contact.contactName}
                            p #{contact.contactSurname}
                        .email
                            p #{contact.contactMail}
                            p #{contact.contactStreetNumber}
                            p #{contact.nameCity}
                            p #{contact.contactZipCode}