html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="main.css")
    body
        nav
            a(href="/logout")
                 button.log-button Wyloguj
        .wrapper
            h1
                | Contact Master
            h2
                | Udalo ci sie zalogowac, oto twoje kontakty:
            a(href="/addcontact")
                button.log-button Dodaj nowy kontakt
        .contacts-list
                each contact in data
                    .contact
                        .name
                            p #{contact.contactName}
                            p #{contact.contactSurname}
                            p #{contact.contactMail}
                        .email
                            each number in contact.numbers
                                p #{number.phoneType}
                                p #{number.number}

                            a(href="/addnumber/" + contact.contactID)
                                button.log-button Dodaj numer
                        .address
                            p #{contact.contactStreetNumber}
                            p #{contact.nameCity}
                            p #{contact.contactZipCode}